*{
    box-sizing: border-box;
}
body,html
{
    margin: 0px;
    padding: 0px;
    background-color: #3c3b3b;
}
#video-grid
{
    height: 90vh;
    width: 100%;
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
video
{

    max-height: 50%;
    object-fit: cover;
    border-radius: 20px;
    margin: 0 12px;
}
.audio_navbar
{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.audio_navbar_item:hover
{
    /* background-color: #444; */
}
.audio_navbar_item
{
    margin: 0 24px;

}
.audio_navbar_item_icon
{
    padding: 12px 16px;
    border-radius: 50%;
    font-size: 1.4rem;
    cursor: pointer;
    
}
.audio_navbar_chat
{  
    
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
    padding-right: 56px;
}
.room_navbar
{
    background-color: rgb(0, 0, 0);

    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}